<div class="content">
    <div class="container-fluid">
        <div class="row">
            <% if @orgs.any? %>
                <%= render @orgs %>
            <% end %>
        </div> 
    </div> 
</div> 
