
.vertically-align{
    position:relative;
    top: 50%;
    -webkit-transform:translateY(50%);
}

.vertically-align-icon{
    position:relative;
    top: 50%;
    -webkit-transform:translateY(20%);
}

.centralize{
    margin:auto;
}

.card .title .text-center {
    text-align:center;
}

.margin-top-10{
    margin-top:10px;
}


.land {
  width: 100%;
  border-radius:2px;
  overflow: hidden;
  height: 100%;
  margin:0;
  padding:0;
  opacity:0.8;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.panel-card {
  text-align: center;
  text-transform: none;
  margin-top: 30px;
  
}


@import "bootstrap-sprockets";
@import "bootstrap";
