
.vertically-align{
    position:relative;
    top: 50%;
    -webkit-transform:translateY(50%);
}

.vertically-align-icon{
    position:relative;
    top: 50%;
    -webkit-transform:translateY(20%);
}

.centralize{
    margin:auto;
}

.card .title .text-center {
    text-align:center;
}

.margin-top-10{
    margin-top:10px;
}

@import "bootstrap-sprockets";
@import "bootstrap";