<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.fb.com/escolapirata">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="http://www.medium.com/escola-pirata">
                       Blog
                    </a>
                </li>
            </ul>
        </nav>
		<div class="copyright pull-right">
            &copy; 2016, made with <i class="fa fa-heart heart"></i> by <a href="http://www.escolapirata.com">Escola Pirata</a>
        </div>
    </div>
</footer>